{% extends 'base.html' %}
{% block title %} CUP CAKE {% endblock %}
{% block content %}

    <!-- Main Content -->
    <main class="container my-5">
        <section class="collections">
            <div class="row">
                <!-- Repeat this block for each product -->
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://media.istockphoto.com/id/490992056/photo/pink-cupcake-with-cherry-on-top.jpg?s=612x612&w=0&k=20&c=DLSX20JQYOlo3bDPvSA3XuvheqpYBab0B9lyo1wY-LU=" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Cherry Cup Cake</h5>
                            <p class="card-text">$200</p>
                            <button class="btn btn-success add-to-cart" data-name="Cherry Cup Cake" data-price="200">Add to Cart</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN5SOEC9jypaD84nmE-ruTPJVh7AA3HPZLdg&s" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Choco cup Cake</h5>
                            <p class="card-text">$150</p>
                            <button class="btn btn-success add-to-cart" data-name="Choco cup Cake" data-price="150">Add to Cart</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRu8WymkgrEoQJFSp68U9u3IkrB-UWZjVtaxA&s" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Crown Cup Cake</h5>
                            <p class="card-text">$200</p>
                            <button class="btn btn-success add-to-cart" data-name="Crown Cup Cake" data-price="200">Add to Cart</button>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 mb-4">
                    <div class="card">
                        <img src="https://media.istockphoto.com/id/1368439546/photo/pastel-colored-rainbow-birthday-cupcake-with-sprinkles.jpg?s=612x612&w=0&k=20&c=so19nNfcbuZjub9eeaa3FyDdz2QSeq2cwXuC1w0fIYQ=" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Rainbow Cup Cake</h5>
                            <p class="card-text">$180</p>
                            <button class="btn btn-success add-to-cart" data-name="Rainbow Cup Cake" data-price="180">Add to Cart</button>
                        </div>
                    </div>
                </div>
                
                <!-- Add more product blocks as needed -->
            </div>
        </section>
    </main>


                <!--footer-->
  <footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
        data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          data-mdb-ripple-init
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
       
      <section class="">
        
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
         
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" />
                <label class="form-label" for="form5Example24">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
     
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CATEGORIES</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="{% url 'birthday' %}">Birthday Cake</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'wedding' %}">Wedding Cake</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'cupcake' %}">Cup Cakes</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'variety' %}">Variety Cake</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">GET HELP</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="{% url 'cart2' %}">Shipping</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'cart2' %}">Returns</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'cart2' %}">Payment Option</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'cart2' %}">Order Status</a>
              </li>
              <li>
                <a class="text-body" href="{% url 'cart2' %}">Contact</a>
              </li>
              </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">LOCATION</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a class="text-body" href="#!">Madurai</a>
              </li>
              <li>
                <a class="text-body" href="#!">Chennai</a>
              </li>
              <li>
                <a class="text-body" href="#!">Coimbatore</a>
              </li>
              <li>
                <a class="text-body" href="#!">Tirunelveli</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
          
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    
    <!-- Grid container -->
  
    <!-- Copyright -->
     <div class="color" style="background-color:skyblue;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-reset fw-bold" href="https://sweethunt.com/">SweetHunt.com</a>
    </div>
     </div>
    <!-- Copyright -->
  </footer>



    
{% endblock %}